img{
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
  color: #FF0000;
}

nav{
  padding-bottom: 20px;
}

table.tabla1{
  padding-top: 20px;
  border: solid black 1px;
  border-collapse: collapse;

}

table.tabla2{
  padding-top: 20px;
  border: solid #000000 1px;
  border-collapse: collapse;
  height: 250px;
}

table.tabla2 th{
  background-color: #00FFFF;
}

table.tabla1 th, td{
  border: solid #000000 1px;
  text-align: center;
  width: 120px;
}

div{
  display: flex;
  align-items: center;
}

div.tablaIzq{
  width: 50%;
}

div.tablaDer{
  position: relative;
  left: 40%;
}